.compaignpicture {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./../img/compaign.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}

.items {
  position: relative;
  top: 30px;

}

.items h2 {
  color: white;
  padding-left: 80px;
}

.items h6 {
  color: white;
  padding-left: 80px;
}

.fundraise_form {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-bottom: 2rem;
  color: black;
}



.form_border {
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

h3 {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  color: black;
}

.mycompaign {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.mycompaigns {
  padding-inline: 6rem;
  padding-block: 1rem;
}

.mycompaigns hr {
  width: 100%;
  margin-left: 0;
}

.mycompaigns h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-block: 2rem;
}

.mycompaign .prj-item {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 576px) {
  .mycompaign .prj-item {
    width: 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .mycompaign .prj-item {
    width: 33.33%;
    max-width: 33.33%;
  }
}

@media (min-width: 992px) {
  .mycompaign .prj-item {
    width: 25%;
    max-width: 25%;
  }
}