.fund_raise{
    background-color: #ffffff;
    color: #151515;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .fund_raise h4 {
    padding-left: 5%;
  }
  .fundraise{
    display:flex;
  
  }
  .start_fund{
    padding-left: 5%;
    padding-top: 3%;
  
  }
  .start_fund p{
    color: #ffffff;
    background-color: blue;
    border-radius: 50%;
    width: 10%;
    height: 35%;
    text-align: center;
    padding-top: 3%;
  }
  .start_fund h4{
    text-align: start;
  }
  .invest{
    background-color: white;
    color: #000;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .invest h3{
    text-align: left;
    padding-top: 2%;
    /* margin-top: 10%; */
  }
  .invests{
    display: flex;
    justify-content: space-between;
    margin-right: 7%;
    text-align: left;
    padding-bottom: 2%;
    /* margin-left:13% ; */
    margin-right:10%;
  
  }

  .project{
    display: flex;
    background-color:white;
    color: #000;
    padding-top: 13px;
  }
  .find_project{
    margin-left:7% ;
    margin-right:12%;
    text-align: center;
  }
  .find_project img {
    height: 80%;
    width: 100%;
  }
  .find_project h5{
    margin-bottom: 10px;
  }
  .find_project button{
    padding: 5px 10px;
    border-radius: 5px;
    justify-content: space-between;
    margin-right: 40px;

  }
  .find_project .prjbutton{
    color: white;
    background-color: blue;

  }
  .find_project .fundbutton{
    color: blue;
    outline-color: blue;

  }
  


