.html{
    background-color: white;
}

.HeadingAd{
    margin-left: 15%;
    margin-top: 50px;
}

#imgill{
    position: absolute;
    top: 70px;
    left: 35%;
    width: 150px;
    height: 150px;
}

#hd1{
    position: absolute;
    left: 55%;
    top: 70px;
}

#hd2{
    position: absolute;
    left: 70%;
    top: 70px;
}

#hd3{
    position: absolute;
    left: 85%;
    top: 70px;
}


#Ttitle1{
    margin-left: 13%;
    margin-top: 80px;
}

#CampaignTable{
    margin-left: 13%;
    margin-top: 20px;
    margin-bottom: 200px;
}

#Ttitle2{
    position: absolute;
    top: 270px;
    left: 55%;
}

#UserTable{
    position: absolute;
    left: 55%;
    top: 305px;
}

.DashTable{
    width: 40%;
    text-align: left;
}

.DashTable td input{
   padding: 5px 15px 5px 15px;
   background-color: white;
   border: 2px solid black;
   border-radius: 5px;
}

.DashTable td input:hover{
    background-color: black;
    color: white;
}

.categories{
    margin-left: 15%;
}

.categories button{
    margin-left: 30px;
    border: 0;
    font-size: medium;
    font-weight: 600;
    color: gray;
}

.categories button:hover{
    color: black;
    cursor: pointer;
}