.HeadingAd1{
    margin-left: 15%;
    margin-top: 50px;
}

#imgill1{
    position: absolute;
    top: 70px;
    left: 35%;
    width: 150px;
    height: 150px;
}

#hd11{
    position: absolute;
    left: 55%;
    top: 70px;
}

#hd21{
    position: absolute;
    left: 70%;
    top: 70px;
}


#Ttitle21{
    margin-top: 80px;
    margin-left: 15%;
}

#UserTable1{
    margin-bottom: 200px;
    margin-left: 15%;
    width: 80%;
}

.DashTable1{
    text-align: left;
}

.DashTable1 td input{
   padding: 5px 15px 5px 15px;
   background-color: white;
   border: 2px solid black;
   border-radius: 5px;
}

.DashTable1 td input:hover{
    background-color: black;
    color: white;
}

