/* .SignupAll{
    background-image: url("../img/back1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
} */

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .success {
    color: green;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .messageContainer {
    position: fixed;
    top: 0;
    left: 36%;
    width: 20%;
    padding: 10px;
    text-align: center;
    z-index: 999;
  }

  
  
  .errorContainer {
    background-color: #ffdddd;
    border: 1px solid red;
  }
  
  .successContainer {
    background-color: #ddffdd;
    border: 1px solid green;
  }
  
  

#LogoSign{
    height: 70px;
    width: 100px;
}

#LoginHead1{
    position: absolute;
    top: 20px;
    left: 90%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1724FE;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

#headL{
    margin-left: 43%;
    margin-top: 100px;
}

.headingSign{
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    background-color: white;
    width: 100%;
    
}

#loginForm{
    margin-left: 35%;
    margin-top: 50px;
}

#loginForm input:not(#logSubmit){
    padding: 10px;
    padding-right: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#logSubmit{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    background-color: #1724FE;
    color: white;
    border-radius: 10px;
    margin-left: 15%;
}

#loginForm p{
    margin-left: 8%;
}

