#LogoSign {
    height: 70px;
    width: 100px;
}

#LoginHead1 {
    position: absolute;
    top: 20px;
    left: 90%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1724FE;
    color: white;
    border-radius: 10px;
}

#headS {
    margin-left: 43%;
    margin-top: 100px;
}

.headingSign {
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    background-color: white;
    width: 100%;

}

#signupForm {
    margin-left: 35%;
    margin-top: 50px;
}

#signupForm input:not(#signSubmit) {
    width: 50%;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #bcbcbc;
    margin-bottom: 10px;
}

#signSubmit {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    background-color: #1724FE;
    color: white;
    border-radius: 10px;
    margin-left: 15%;
}

#signupForm p {
    margin-left: 8%;
}